@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.first-half { 
  background:url(/home/homebg.png);
  background-size: 2437px 1380px;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  overflow: hidden;
  height: 1010px;
  width: 1920px;
  position: relative;
  z-index: 2;
}

.first-half::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(200, 200, 200, 0.5);
  pointer-events: none;
  z-index: 1;
}

.second-half {
  background: var(--Primary-Deep-Forest, #374426);
  height: 1010px;
  width: 1920px
}

.second-half-sub-background {
  position: relative;
  fill: linear-gradient(0deg, var(--Primary-Pale-Yellow, #FFF7C2) 0%, var(--Shade-White, #FFFCEA) 100%);
  width: 1804px;
  height: 684px;
  top: 113px;
  left: 58px;
  border: 8px;
  stroke-width: 8px;
  stroke: #9FB878;
  z-index: 2;
}

.left-decor {
  width: 29px;
  height: 243px;
  position: absolute;
  top: 1343px;
  left: 82px;
  z-index: 3;
}

.right-decor {
  width: 29px;
  height: 243px;
  position: absolute;
  top: 1343px;
  left: 1811px;
  z-index: 3;
}

.nav-bar {
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 0.95;
}